@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;1,300&display=swap');

body {
    font-family: 'Rubik', sans-serif;
}

header .jumbotron {
    background-image: url('../img/iguana_page.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: flex-end;
  height: 100vh;
}

    
.jumbotron hr {
       
       color: white;
       border-top: 0.3rem solid white;
   }

.about hr, .experience hr {
       color: black;
       border-top: 0.2rem solid black;
       width: 15%;
   }

   .contacto {
    height: 50vh;
}

.contacto div {
    padding-top: 10vh
}

footer {
    height: 20vh;
}

footer .icons {
    font-size: 3rem;
}

.icons a {
    text-decoration: none;
    color: #FFFFFF

   